
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Northwind.Supplier.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Deitel_Pagina_532_12._9.Northwind.SupplierGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>